:root {
    --primary-color: #19429C;
    --secondary-color: #000A21;
    --bg-color: #F5F5F5;
    --font-family: 'Poppins', sans-serif;
    --alrt-card-bg-color: lightgray;
    --danger-bg-color: #ffe6e6;
    --danger-border-color: #ff4d4d;
    --danger-text-color: #b30000;
    --success-bg-color: #e6ffe6;
    --success-border-color: #4dff4d;
    --success-text-color: #006600;
    --info-alert-bg-color: #e6f0ff;
    --info-alert-border-color: #4da6ff;
    --info-alert-text-color: #004080;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.alert-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    backdrop-filter: blur(4px);
}

.alert {
    width: 720px;
    aspect-ratio: 5 / 3;
    border-radius: 16px;
    background-color: var(--alrt-card-bg-color);
    font-weight: bold;
    z-index: 1000;
    padding: 24px;
}

.alert-danger {
    border: 4px solid var(--danger-border-color);
    background-color: var(--danger-bg-color);
    color: var(--danger-text-color);
}

.alert-success {
    border: 4px solid var(--success-border-color);
    background-color: var(--success-bg-color);
    color: var(--success-text-color);
}

.alert-info {
    border: 4px solid #4da6ff;
    background-color: #e6f0ff;
    color: #004080;
}

.heads-up-message {
    position: fixed;
    top: 64px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    aspect-ratio: 5 / 1;
    border-radius: 16px;
    background-color: var(--alrt-card-bg-color);
    border: 4px solid var(--info-alert-border-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--info-alert-text-color);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    z-index: 1000;
}