:root {
    --bg-success: hsl(120, 100%, 70%);
    --bg-success-a: hsla(120, 100%, 70%, 0.4);
    --bg-danger: hsa(0, 100%, 70%);
    --bg-danger-a: hsla(0, 100%, 70%, 0.4);
    --bg-correct: hsl(200, 70%, 70%);
    --bg-correct-a: hsla(200, 70%, 70%, 0.4);
    /* --bg-success: hsl(120, 100%, 70%); */
}

.bg-success {
    background-color: var(--bg-success);
}
.bg-success-a {
    background-color: var(--bg-success-a);
}


.bg-danger {
    background-color: var(--bg-danger);
}
.bg-danger-a {
    background-color: var(--bg-danger-a);
}


.bg-correct {
    background-color: var(--bg-correct);
}
.bg-correct-a {
    background-color: var(--bg-correct-a);
}