:root {
    --primary-color: #19429C;
    --secondary-color: #000A21;
    --bg-color: #F5F5F5;
    --font-family: 'Poppins', sans-serif;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-family);
    color: var(--secondary-color);
    line-height: 1.6;
}




.header-pcu {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pcu-logo {
    width: 92px;
    height: auto;
    margin: 16px;
}

.pcu-coi-logo {
    width: 120px;
    height: auto;
    margin: 16px;
}

 .pcu-text {
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin: 16px;
}


.container-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-inline: 20%;
    margin-top: 30px;
}

.btn-start-exam, .container-btn .btn-retrieve-result {
    background-color: var(--bg-color);
    color: var(--secondary-color);
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 4px;
    font-family: var(--font-family);
    font-size: 1.2em;
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 3px solid var(--primary-color);
    border-style: dashed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.3s ease;
}

.btn-start-exam:hover, .container-btn .btn-retrieve-result:hover {
    border-style: solid;
    border: 6px solid var(--primary-color);
}






.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.question-text {
    white-space: pre-line;
    line-height: 1.6;
    margin: 20px 0;
}

.status {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.status.error {
    background-color: #ffebee;
    color: #c62828;
}

.status.success {
    background-color: #e8f5e9;
    color: #2e7d32;
}

.options {
    margin-left: 1rem;
}

.option {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
}

.option input[type="radio"] {
    margin-right: 0.5rem;
}

.option label {
    cursor: pointer;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}